.inline-block {
    background-color: #F47E20;
    padding: 20px;
    width: 100%;
    height: 100px;
}

.navigation {
    display: flex;
    width: 100%;
}

ul {
text-align: center;
margin-top: -90px;
}

.heroimg {
    height: 600px;
    padding: 25px;
    margin-top: 100px;
}
.content {
    width: 650px;
    margin: 0 auto;
    text-align: center; 
}

.myPhilosophy {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 500px;
}

.flexContainer {
    display: flex;
    justify-content: center;
    padding: 35px;
    margin-top: -55px;
}

.flexBox {
    padding: 40px;
    width: 360px;
}

.myWork {
    align-items: center;
    text-align: center;
}

.workGrid {
    display: grid;
    grid-template-columns: 25% 75%;
    gap: 40px;
    width: 100%;
    align-items: center;
    grid-gap: 50px;
}

.workGrid img {
    width: 100%;
    height: auto;
    max-width: 400px;

}
.workGrid p {
    margin-bottom: 20px;
}

.gridImage {
    width: 100%;
    display: flex;
    justify-content: center;
}

footer {
    background-color: #7E184B;
    color: #F47E20;
    margin-top: 250px;
    height: 80px;
}

p {
    font-family: clone-rounded-latin, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: large;
}

h1 {
    font-family: clone-rounded-latin, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 35pt;
}
h2 {
    font-family: clone-rounded-latin, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30pt;
    margin-top: 15px;
}
h3 {
    font-family: clone-rounded-latin, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30pt;
    margin-top: -45px;
}
h4 {
    font-family: clone-rounded-latin, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20pt;
    margin-top: 15px;
}
h5 {
    font-family: clone-rounded-latin, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17pt;
    margin-top: -15px;
}
li {
    display: inline-block;
    padding: 20px;
    font-family: clone-rounded-latin, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 18pt;
    text-align: center;
}
button {
    color: white;
    background-color: #7E184B;
    padding: 15px;
    font-size: medium;
    font-family: clone-rounded-latin, sans-serif;
}
.workGrid {
    display: grid;
}

.mySkills {
    margin-left: 35%;
    margin-right: 35%;
    text-align: center;
}
.icons {
    width: auto;
    margin-top: 25px;
}
.icons img {
    margin: 0px 10px;
}

@media only screen and (max-width: 1200px) {
    .flexBox {
        width: 440px;
        justify-content: center;        
    }
    .flexContainer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    p {
        margin: auto;
    }
}